<div class="row">
	<div class="six columns centered">

		<center><h1>[x]<br/>xbtunnel</h1></center>
	</div>
</div>
<div class="row">
	<br/><br/><br/><br/>
</div>

<div class="row">
	<div class="three columns">
		[x]<br/> <!-- align right -->
		xbtunnel
	</div>
	<div class="nine columns">
		<!-- rotate through these -->
		three steps (or less)
		all controlled in your browser
		play Halo 1 Xbox online
	</div>
</div>
<div class="row">
	<div class="three columns">
		get started
	</div>
	<div class="nine columns">
		<h3>step 1</h3>
		[cycle through the steps]
	</div>
</div>
<div class="row">
	<div class="three columns">
		step 2
	</div>
	<div class="nine columns">
		install application
		application status: [connected] [not found]
	</div>
</div>
<div class="row">
	<div class="three columns">
		step 3
	</div>
	<div class="nine columns">
		there is no step three
		go play ->
	</div>
</div>

	<div class="six columns centered">
		
		<ul>
			<li>seek bar is (almost?) completely broken in firefox</li>
			<li>video doesn't resize with window</li>
			<li>no options</li>
		</ul>

		Upcoming Features:
		<ul>
			<li>login (because honestly, I'm hosting 3TB of shit to the public)</li>
			<li>more data from tmdb</li>
			
			<br/>
			
			<li>tv show parsing</li>
			<li>more tvdb api</li>
			
			<br/>
			
			<li>bonjour discovery (allows enumeration, discovery of LAN services)</li>
			<li>remote bonjour discovery (allows remote access to services)</li>
		</ul>
	</div>
</div>